//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;


.header {
    position: fixed;
    z-index: 3;
    width: 100%;
    padding: 7px 5%;
    background: #ffffffb7;

    @media screen and (min-width: 1024px) {
        padding: 0 8%;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 35%;
        height: auto;

        @media screen and (min-width: 1024px) {
            width: 20%;
        }
    }

    &__img {
        @include img;
    }
    
    &__btn {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        width: 36px;
        height: 26px;
        cursor: pointer;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }
    
    &__btn-top,
    &__btn-middle,
    &__btn-bottom {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: black;
        transition: .3s;
    }

    &__btn-top {
        transform: translateY(13px);
    }

    &__btn-bottom {
        transform: translateY(-13px);
    }
}