@use "../global" as *;

#pear {

    .main {
        padding-top: 114px;

        @media screen and (min-width: 768px) {
            padding-top: 159px;
        }

        @media screen and (min-width: 1024px) {
            padding-top: 227px;
        }

        .all__btn {
            transform: translateY(30px);
            opacity: 0;
        }
    }

    .pear {
        padding: 75px 8% 100px;
        background: #fff;
        border-radius: 20px;

        @media screen and (min-width: 768px) {
            padding: 141px 6%;
        }

        @media screen and (min-width: 1024px) {
            padding: 212px 7%;
            border-radius: 40px;
        }

        &__ttl {
            @include sec-ttl;
            animation: worksFadeup 1s ease-out forwards .4s;
            opacity: 0;

            @media screen and (min-width: 768px) {
                @include sec-ttl($margin-bottom: 35px, $font-size: 40px);
            }

            @media screen and (min-width: 1024px) {
                @include sec-ttl($margin-bottom: 25px, $font-size: 54px)
            }

            &::before {
                content: "production";
                display: block;
                margin-bottom: 5px;
                color: $gray;
                font-size: 10px;
                font-family: $font_en;
                font-weight: 500;
                letter-spacing: 0.2em;

                @media screen and (min-width: 768px) {
                    font-size: 13px;
                }

                @media screen and (min-width: 1024px) {
                    margin-bottom: 10px;
                    font-size: 16px;
                }
            }
        }

        &__pic--01 {
            width: 100%;
            margin: 0 auto 5px;
            animation: worksFadeup 1s ease-out forwards 1s;
            opacity: 0;

            @media screen and (min-width: 768px) {
                width: 95%;
                margin: 0 auto 16px;
            }

            @media screen and (min-width: 1024px) {
                width: 86%;
            }
        }

        &__img {
            @include img;
        }

        &__data {
            margin-bottom: 7px;
            font-size: 12px;
            text-align: center;
            animation: worksFadeup 1s ease-out forwards 1s;
            opacity: 0;

            @media screen and (min-width: 768px) {
                margin-bottom: 10px;
                font-size: 14px;
            }

            @media screen and (min-width: 1024px) {
                margin-bottom: 15px;
                font-size: 18px;
            }
        }

        &__caption {
            margin-bottom: 5px;
            font-size: 14px;
            text-align: center;
            animation: worksFadeup 1s ease-out forwards 1s;
            opacity: 0;

            @media screen and (min-width: 768px) {
                margin-bottom: 10px;
                font-size: 16px;
            }

            @media screen and (min-width: 1024px) {
                margin-bottom: 13px;
                font-size: 23px;
            }
        }

        &__screensize {
            margin-bottom: 5px;
            font-size: 13px;
            text-align: center;
            animation: worksFadeup 1s ease-out forwards 1s;
            opacity: 0;

            @media screen and (min-width: 768px) {
                margin-bottom: 10px;
                font-size: 15px;
            }

            @media screen and (min-width: 1024px) {
                margin-bottom: 11px;
                font-size: 18px;
            }
        }

        &__url {
            margin-bottom: 75px;
            font-size: 12px;
            text-align: center;
            animation: worksFadeup 1s ease-out forwards 1s;
            opacity: 0;

            @media screen and (min-width: 768px) {
                margin-bottom: 80px;
                font-size: 13px;
            }

            @media screen and (min-width: 1024px) {
                margin-bottom: 105px;
                font-size: 16px;
            }
        }

        &__link {
            display: inline-block;
            color: $black;
            text-decoration: none;

            &:hover {
                color: $gray;
            }
        }

        &__box {
            position: relative;
            margin-bottom: 100px;
            transform: translateY(30px);
            opacity: 0;

            @media screen and (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                margin-bottom: 49px;

            }

            @media screen and (min-width: 1024px) {
                width: 100%;
                max-width: 1280px;
                margin: 0 auto 212px;
            }
        }


        &__scroll {
            width: 280px;
            height: 570px;
            margin: 0 auto 75px;
            overflow: scroll;

            @media screen and (min-width: 768px) {
                width: 350px;
                height: 800px;
                margin: 0;
            }

            @media screen and (min-width: 1024px) {
                width: 500px;
                height: 1080px;
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__pic--02 {
            width: 280px;

            @media screen and (min-width: 768px) {
                width: 350px;
            }

            @media screen and (min-width: 1024px) {
                width: 500px;
            }
        }

        //スクロールアイコン
        &__scrollicon {

            position: absolute;
            top: 150px;
            left: 0;

            @media screen and (min-width: 768px) {
                left: -25px;
            }

            @media screen and (min-width: 1024px) {
                left: -50px;
            }

            &::before {
                content: "";
                // 描画位置
                position: absolute;
                bottom: 0;
                left: -6px;
                // 丸の形状
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: $black;
                // 丸の動き1.4秒かけて透過して永遠にループ
                animation:
                    circlemovesp 1.4s ease-in-out infinite,
                    cirlemovehide 1.4s ease-out infinite;

                @media screen and (min-width: 768px) {
                    width: 9px;
                    height: 9px;
                    animation: circlemovetab 1.6s ease-in-out infinite,
                        cirlemovehide 1.6s ease-out infinite;
                }

                @media screen and (min-width: 1024px) {
                    width: 13px;
                    height: 13px;
                    left: -13px;
                    animation: circlemovepc 1.8s ease-in-out infinite;
                    animation: circlemovepc 1.8s ease-out infinite;
                }
            }

            &::after {
                content: "";
                // 描画位置
                position: absolute;
                bottom: 0;
                right: 2px;
                // 線の形状
                width: 1px;
                height: 48px;
                background: $black;

                @media screen and (min-width: 768px) {
                    height: 64px;
                    right: 1px;
                }

                @media screen and (min-width: 1024px) {
                    height: 75px;
                    right: 6px;
                }
            }
        }

        &__span {
            // 描画位置
            position: absolute;
            left: 6px;
            bottom: 10px;
            // テキストの形状
            color: $black;
            font-size: 8px;
            // 縦書き設定
            -ms-writing-mode: tb-rl;
            -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;

            @media screen and (min-width: 768px) {
                bottom: 15px;
                font-size: 11px;
            }

            @media screen and (min-width: 1024px) {
                bottom: 18px;
                font-size: 13px;
            }
        }

        &__wrap {

            @media screen and (min-width: 768px) {
                width: 44%;
            }

            @media screen and (min-width: 1024px) {
                width: 40%;
            }
        }

        &__item {
            margin-bottom: 37px;

            @media screen and (min-width: 768px) {
                margin-bottom: 40px;
            }

            @media screen and (min-width: 1024px) {
                margin-bottom: 53px;
            }
        }

        &__heading {
            padding-bottom: 5px;
            border-bottom: 1px solid $gray;
            font-size: 14px;

            @media screen and (min-width: 768px) {
                padding-bottom: 7px;
                font-size: 16px;
            }

            @media screen and (min-width: 1024px) {
                padding-bottom: 10px;
                font-size: 19px;
            }
        }

        &__txt {
            padding-top: 15px;
            font-size: 12px;
            line-height: 2;

            @media screen and (min-width: 768px) {
                padding-top: 11px;
                font-size: 13px;
            }

            @media screen and (min-width: 1024px) {
                padding-top: 18px;
                font-size: 14px;
            }
        }
    }
}