//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.rotateTop {
    transform: rotate(45deg);
}

.hideMiddle {
    opacity: 0;
    pointer-events: none;
}

.rotateBottom {
    transform: rotate(-45deg);
}

.leftAnime {
    opacity: 0;
}

.slideAnimeLeftRight {
	animation-name: slideTextLeft;
	animation-duration: .9s;
	animation-fill-mode: forwards;
    opacity: 0;
}

.slideAnimeRightLeft {
	animation-name: slideTextRight;
	animation-duration: .9s;
	animation-fill-mode: forwards;
    opacity: 0;
}

#about__btn.rotateArrow .about__btn-txt::after {
    top: 3px;
    transform: rotate(-45deg);
}