
@use "../setting" as *;

@mixin img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin sec-ttl($margin-bottom: 40px, $font-size: 32px) {
    font-size: $font-size;
    font-weight: 500;
    font-family: $font_en;
    margin-bottom: $margin-bottom;
}
